*.aut
*.mcrl2
*.lps
*.lts
*.swp
*.pyc

*.class
example/java/example/ConsoleProgram.java
example/java/example/models/*
trafficlights_v1/java/trafficlights/ConsoleProgram.java
trafficlights_v1/java/trafficlights/models/*
rollercoaster/java/rollercoaster/ConsoleProgram.java
rollercoaster/java/rollercoaster/models/*
